app/*.iml
app/.gradle
app/local.properties
app/.idea/caches
app/.idea/libraries
app/.idea/modules.xml
app/.idea/workspace.xml
app/.idea/navEditor.xml
app/.idea/assetWizardSettings.xml
app/.DS_Store
app/build
app/captures
app/.externalNativeBuild
app/.cxx
app/local.properties
screenshotmalware/*.iml
screenshotmalware/.gradle
screenshotmalware/local.properties
screenshotmalware/.idea/caches
screenshotmalware/.idea/libraries
screenshotmalware/.idea/modules.xml
screenshotmalware/.idea/workspace.xml
screenshotmalware/.idea/navEditor.xml
screenshotmalware/.idea/assetWizardSettings.xml
screenshotmalware/.DS_Store
screenshotmalware/build
screenshotmalware/captures
screenshotmalware/.externalNativeBuild
screenshotmalware/.cxx
screenshotmalware/local.properties
